/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #f8f8fa;
}

header{
  background-color: #4617fe;
  float: left;
  width: 100%;
  height: 480px;
}

.logo{
  width: 120px;
  padding: 35px 50px;
}

nav{
  float: right;
  margin-top: 20px;  
  margin-right: 80px;
  font-size: 14px;
}

.nav-item{
  color: #fff;
  margin-left: 20px;
}

.header-text{
  float: left;
  margin-left: 55px;
  color: #fff;
  margin-top: 50px;
}

.header-text > h2{
  font-weight: 500;
  font-size: 38px;
}

.header-image{
  float: right;
  position: absolute;
  right: 0px;
  top: 70px;
}

.nav-item-active{
  color: #4617fe;
  margin-left: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.company-items{
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 0px 40px 20px 55px;
  font-size: 20px;
  font-family: 'Righteous','serif';
}

.api-heading{
  margin-top: 60px;
  margin-left: 55px;
  font-weight: 900;
}

.cards{
  display: flex;
  gap: 40px;
  margin-top: 30px;
  justify-content: center;
  position: relative;
}

.card-active{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px 20px;
}

.card-body{
  font-size: 13px;
}

.card{
  padding: 40px 20px;
}

.card:last-child::after {
  content: ">";
  display: flex;
  background-color: #4617fe;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 90px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.blog-heading{
  margin-top: 60px;
  margin-left: 55px;
  font-weight: 900;
}

.blog-cards{
  display: flex;
}

.blog-card{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
  height: 288px;
}

.blog-content{    
  background-color: #fff;
  border-radius: 10px;      
  padding: 30px 80px 40px 80px;
}

.blog-content > h3{    
  margin-top: 15px;
  margin-bottom: 15px;
}

h6{
  color: #5a31fc;
  font-weight: bold;
}

small{
  font-size: 12px;  
  font-weight: bold;
}

.blog-bottom{
  position: absolute;
  top: 250px;
  left: 300px;
}

.blog-author{
  position: absolute;
  top: 260px;
  left: 360px;
}

.blog-author > b{
  font-size: 12px;
  font-weight: bolder;
}

.faq-section{
  display: flex;
  background-color: #e9edff;
  height: 324px;
  justify-content: space-between;
  margin-top: 50px;
}

.faq-content{
  padding: 50px;
}

.faq-content > h2{
  font-size: 35px;
  font-weight: bolder;
}

.faq-content > h4:first-child{
  font-size: 12px;
  margin-top: 10px;
}

.faq-content > h4:last-child{
  margin-top: 20px;
  font-size: 14px;
}

.faq-content > button{
  margin-top: 20px;
  border: none;
  background-color: #5a31fc;
  color: #fff;
  font-size: 11px;
  height: 28px;
  width: 90px;
  border-radius: 4px;
}

.download-section{
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
  height: 300px;
  background-color: #FFFFFF;
  align-items: center;
}

.download-content > h1 > span{
  font-weight: 400;
}

.download-email > form > input{
  outline: none;
  border: none;
  background-color: #e9edff;
  padding: 15px 170px 15px 40px;
  border-radius: 50px;
  width: 360px;
}

.download-section .download-email form input::placeholder {
  font-weight: 600;
  color: #505050;
  font-size: 12px;
}

.download-section .download-email form button {
  position: relative;
  right: 140px;
  background-color: #4617fe;
  color: #FFFFFF;
  border: none;
  padding: 10px 30px;
  border-radius: 50px;
}

.footer-section{
  display: flex;
  background-color: #4718fe;
  color: #fff;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}

.footer-logo{
  padding: 20px 0px 20px 60px;
}

.footer-left .list{
  list-style-type: none;
  display: flex;
  gap: 39px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
  margin-left: 55px;
}

.footer-section .footer-left .list .list-items ~ .list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}

.footer-right{
  margin-right: 50px;
}

.footer-right:first-child {
  text-align: right;
  margin-bottom: 30px;
  margin-top: 20px;
}
.footer-right .footer-logos:not(:last-child) {
  margin-right: 15px;

}
.footer-right .logos-list {
  list-style-type: none;
  display: flex;
  gap: 20px;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 13px;
}
.footer-right .logos-list .list-items:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #FFFFFF;
}